* {
    margin: 0;
    padding: 0;
    
}
.removeWatermark{
    overflow: none;
}
:root {
    --lightGreen: #fff;
    --darkGreen: #28403A;
    /* --uniPadding: 120px; */
    --uniPadding: calc(3/12 * 100%);
}

.banner {
    
    padding: 0 var(--uniPadding);
    width: auto;
    height: 100vh;
    overflow: hidden;
    background: var(--darkGreen);

}
.landingHeadline{
/* margin-top: 45vh; */
margin-top: calc(7/12*100%);
  
}

.banner h1 {
    color:var(--lightGreen);
    font-family: "EB Garamond", serif;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 23px;
    letter-spacing: -0.25px;
    font-size: 57px;
    margin-bottom: 30px;
    

}

.banner p {
     color: var(--lightGreen);
     text-align: left;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     line-height: 32px;
     font-size:24px;
     margin-bottom: 55px;

}
.arrow{
    

    border-left: var(--darkGreen) 1px solid;
    height: 0;
    opacity: 1;
    animation: grow 1.5s linear forwards;
    animation-delay: 2000ms;
}

@keyframes grow {
    0% {
        height: 0;
        opacity: 1;
    }
    100% {
        height: 300px;
        opacity: 1;
    }
}

.works {
    padding: 255px var(--uniPadding);
    display: flex;
    flex-direction: column;
    gap: 255px;
    background-color: var(--lightGreen);
    
}

.projectContainer {
    display: flex;
    width: 100%;
    flex-direction: row; 
    align-items: center;
    gap: calc(1/12 * 100%);
    gap: 155px;


}

.projectTitle {
    color:var(--darkGreen);
    text-decoration: none;
    
}
.projectTitle h2 {
    width: max-content;
    font-family: "EB Garamond", serif;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: auto;
    font-size: 36px;
    margin-bottom: 15px ;
    text-decoration: none;
}

.projectTitle p {
    font-family: "Spline Sans", sans-serif ;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    line-height: 24px;
    font-size: 16px;
    text-decoration: none;
    width: 270px;

    
}

.projectImage{
    width: 360px !important;
    height: 230px;
    transition: 600ms ease; 
}

.projectImage:hover{
    scale: 105%;
    border-radius: 3px;
    
    
}





#scrollTop {
    height: 30px;
    width: 120px;
    cursor: pointer;
    position: fixed;
    margin: 3% 5%;
    right: 0;
    bottom: 0;
    z-index: 100;
    color: var(--darkGreen);
    border-radius: 3px;
    border: solid 2px var(--darkGreen);
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 3px;
    background: white;
}
/* 5GHome */
.projectOne{
    background-image: url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1658370649/port2022/Home/5G1_zmtefu.jpg");
    background-position: center;
    background-size: cover; 
}
/* solar */
.projectTwo{
    background-image: url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1658370649/port2022/Home/Solar1_ayhdy5.jpg");
    background-position: center;
    background-size: cover; 
}

/* IVA */
/* .projectThree{
    background-image: url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1658370649/port2022/Home/IVA1_gl1u1x.jpg");
    background-position: center;
    background-size: cover; 
    color: black;
} */

/* MVA */
.projectFour{
    background-image: url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1658370649/port2022/Home/MVA1_czuqeq.jpg");
    background-position: center;
    background-size: cover; 
    
}
/* META1 */
.projectFive{
    background-image: url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1726033582/Frame_33778_gu78i6.png");
    background-position: center;
    background-size: cover; 
    
}







.buttons .ghost {
    background: none;
    color: var(--darkGreen);
}

.moreScroll{
    position: absolute;
    top:20%;
    left:var(--uniPadding);
    
        font-family: "Spline Sans", sans-serif ;
        text-align: left;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        line-height: 20px;
        letter-spacing: 0.1px;
        font-size: 14px;
    color:var(--darkGreen)
    
    
}
@media only screen and (max-width: 600px) {
    :root {    
        --uniPadding: 30px;
    }
    /* .landingHeadline {
        margin-top: 120px;
        } */
    .banner h1 {
        font-size: 6.5rem;
        line-height: 100%;
        /* margin-bottom: 36px; */
    }

    /* .banner p {
        display: none;
      
    } */

    .works {
        padding: 12px var(--uniPadding);
        display: flex;
        flex-direction: column;
        gap: 25px;
   
        }

        .projectContainer {
            display: flex;
            width: 100%;
            flex-direction: column-reverse;
            align-items:start;
            gap: 30px;
            margin-bottom: 60px;
         }

.projectOne{
    width: 100%;
    height: 230px;


}



.projectTwo{
    width: 100%;
    height: 230px;

}

.projectThree{
    width: 100%;
    height: 230px;
 
}

.projectFour{
    width: 100%;
    height: 230px;
   
    
}





}