


  

* {
    margin: 0;
    padding: 0;
    
}
:root {

    --line-color: #fff; /* Default line color */
    --line-spacing: calc(1/12 * 100%); /* Default spacing between lines */
    --darkGreen: #28403A;
    --lightB: #FAF8F5;
    --uniPadding: calc(1.5/12 * 100%);
    --uniBorderRad:3px
}



header{
    padding: 12px var(--uniPadding) ;
    font-weight: 500;
    font-size: 30px;
    
    color: var(--darkGreen);


}


header a{
    text-decoration:none; 
    color: white;

}
header a:visited{
    text-decoration:none; 
    

}



    /* Simple fade-in effect */
    body {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    body.loaded {
        opacity: 1;
    }

    header {
        z-index: 200;
        background-color: var(--darkGreen);
        padding: 24px var(--uniPadding) ;
        background:url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1740196550/baobao_bbfcxk.jpg");
        background-position: center center;
        background-size: cover;
    }
    header .moreProjects{
    
        float:right;
        

        text-align: left;
        font-optical-sizing: auto;
        font-weight: 350;
        font-style: normal;
        font-size: 14px;
        transition: color 0.3s; 


        border: solid 0.5px #ffffff34;
        background: #ffffff1a;
        text-decoration: none;
        color: white;
        padding: 6px 12px;
        transition: color 0.3s;
        font-family: "Spline Sans", sans-serif ;
        border-radius: var(--uniBorderRad);
        /* backdrop-filter: blur(60px); */
        transition: 0.3s;
        
    }
    header .moreProjects:hover{
        color:white;
        /* border: solid 0.5px #00000009; */
        
        /* background: #28403aea; */
        /* backdrop-filter: blur(60px); */
        scale: 105%;
        transition: 0.3s;

    
    }
         

    .title-section{
        padding: 30px var(--uniPadding);

    }

      

    section h2 {
        margin-top: 0;
    }







/* bread */
.breadcrumbs {

            
    position: sticky;
    height: 80px;
    top: 0px;
    /* padding: 24px 0px 9px 0px; */
    
    /* margin: 0 var(--uniPadding); */
    margin-bottom: 60px;
    z-index: 200;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.breadcrumbs ul {
    justify-content: center;
    list-style: none;
    padding: 24px 12px;
    /* height: auto; */
    display: flex;
    gap: 6px;
     background: rgba(255, 255, 255, 0.5);
    border-bottom: solid 0.5px #00000038; 
    backdrop-filter: blur(60px);
}

.breadcrumbs ul li {
    font-family: "Spline Sans", sans-serif ;
    font-size: 14px;

}

.breadcrumbs ul li a {
    border: solid 0.5px #ffffff09;
    text-decoration: none;
    color: var(--darkGreen);
    padding: 6px 12px;
    transition: color 0.3s;
    font-family: "Spline Sans", sans-serif ;
    border-radius: var(--uniBorderRad);
    backdrop-filter: blur(60px);

}

.breadcrumbs ul li a:hover, .breadcrumbs ul li a.active {
    color:white;
    border: solid 0.5px #00000009;
    
    background: #28403aea;
    backdrop-filter: blur(60px);
}



/* start project content */

section{
    padding: 0 var(--uniPadding) 0;
    margin-bottom: 80px;
}

section img{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
}
.noShadow{ 
    box-shadow:  none;
}
.fullLength{
    padding: 48px calc(1/12 * 100%);
    background-color: #F7F7F7; 
}
.fullLength h2{
    text-align: center!important;
    padding-top: 60px !important;

}

h1:first-of-type {
    color:var(--darkGreen);
    font-family: "EB Garamond", serif;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 60px;
    letter-spacing: -0.25px;
    font-size: 57px;
    
}
/* only the impact section  */
#anchorFive h1 {
    color:var(--darkGreen);
    font-family: "EB Garamond", serif;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 60px;
    letter-spacing: -0.25px;
    font-size: 57px;
    
}


h2 {
    text-transform: capitalize;
    color:var(--darkGreen);
    font-family: "EB Garamond", serif;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;    
    font-size: 36px;
    margin-bottom: 15px;
}

h3 {
    font-family: "Spline Sans", sans-serif ;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-size: 14px;


}
ol{
    /* margin-left: 20px;  */
    /* margin-top: 24px; */
    line-height: 32px;
    font-family: "Spline Sans", sans-serif ;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    line-height: 32px;
    font-size: 18px;
    list-style: none;
    
}

.listTitle{
    
    margin-top: 24px; 
}





p {
    font-family: "Spline Sans", sans-serif ;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    line-height: 32px;
    font-size: 18px;


}

.duoContent {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 15px;
    align-items: center;
}

.monoContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(3/12 * 100%);
    row-gap: 15px;
    align-items: center;
}


.duoContent img{
    width: 100%;
    height: auto;
    
}

.textImage {
    width: 230px !important;
    height: 500px !important;
    
}


section img {
    width: 100%;
    
}

footer{
    padding: 60px var(--uniPadding);
    background-color: #28403A; 
    text-align: left;
    background:url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1740196550/baobao_bbfcxk.jpg");
    background-position: center center;
    background-size: cover;    
}
footer h2 {
    color: #fff;  
     
    
}
footer div{

    display: flex; 
    flex-wrap: wrap; 
    justify-content: left; 
    flex-direction: row;
    gap: 20px; 
    margin-top: 32px;
    
}


footer a {
    
    text-decoration: none; 
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 24px;
     border-radius:var(--uniBorderRad); 
     width:100%;
      height: auto;   
     color: #fff; 
     transition: transform 0.3s ease; 


     border: solid 0.5px #ffffff34;
     background: #ffffff09;
     text-decoration: none;
     color: white;
    
     transition: color 0.3s;
     font-family: "Spline Sans", sans-serif ;
     border-radius: var(--uniBorderRad);
     backdrop-filter: blur(60px);
     transition: 0.3s;
     

}
footer h4{
    margin: 0; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: left;   
}

footer a:hover{
    scale: 105%;
    transition: 0.3s;
    
}







/* start shadowbox css */

.thumbnail {
    margin-top: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.0);
}

.shadowbox {
   
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: none;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.5s;
    opacity: 0;
}

.shadowbox.open {
    opacity: 1;
   
}

.shadowbox-content {
   display: block;
     margin: 120px auto;
 max-width: 80%;
   max-height: 80%;        
    transition: transform 0.2s, opacity 0.3s;
    transform: scale(0.8);
    opacity: 0;


}

.shadowbox-content.open {
    transform: scale(1);
    opacity: 1;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 32px;
    right: var(--uniPadding);
    background-color: var(--darkGreen);
    color: white;
    border:solid #ffffff28 1px; 
    padding: 10px 15px;
    border-radius: var(--uniBorderRad);
    cursor: pointer;
    font-size: 14px;
    z-index: 200;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



@media (min-width: 769px) {
    .breadcrumbs {
        display: block;
    }

    .back-to-top {
        display: none;
    }
}

@media (max-width: 768px) {
    .breadcrumbs {
        display: none;
    }

    .back-to-top {
        display: block;
    }
    header {
        position: sticky;
        top: 0;
        padding: 20px;

}
}

@media only screen and (max-width: 768px) {
    :root {
        --uniPadding:30px;
    }



    section {
        margin-bottom: 60px;
    }
    section img {
        width: 100%;
   
    }
    .duoContent {
        display: grid;
        grid-template-columns: 100%;
        column-gap:0px;
        /* row-gap: 25px; */
        
    }
    .monoContent{
        display: grid;
        grid-template-columns: 100%;
        column-gap:0px;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* row-gap: 25px; */
    }
    .monoContent .duoContentR {
        margin: 0 auto;
    }
    
    
    .duoContent .duoContentL{
        grid-area: 2;
    }

}