#passArea{
    display: grid;
    grid-template-columns: 0fr 0fr;
    column-gap: 0;
    justify-content: center;
    margin-bottom: 140px;

    
    

}    
    #pass {
        width: 200px;
        height: 40px;
        font-size: 30px;
        border: var(--darkGreen) 2px solid;
        
    }

    .notifyText {
        grid-column: span 2;
        font-size: 24px;
    visibility: hidden;

    }
    


    #submitPass {
        position: relative;
        top: 0;
        right: 0;
        z-index: 2;
        font-size: 14px;
        font-weight: 700;
        color:white;
        height: 44px;
        width: 100px;    
        background-color:var(--darkGreen);
        box-shadow: none;
        border-color: none;
        
  
  
    }

    button{
        border: none;
        background-color:none ;
    }
    #submitPass:hover{
         text-decoration: underline;
    }

input:focus-visible {
    outline: none;
    box-shadow: none;
  }
/* end locked pages CSS */

* {
    margin: 0;
    padding: 0;
    
}

:root {
    --darkGreen: #28403A;
    /* --uniPadding: 120px; */
    --uniPadding: calc(3/12 * 100%);
    --line-spacing: calc(3/12*100%); /* Distance between lines */
    --line-width: 1px;   /* Width of the grid lines */
    --line-color: #ccc;  /* Color of the grid lines */
}
header{
    height: 60px;
    background-color: var(--lightGreen);
    padding: 0 var(--uniPadding) 0;
    padding-top: 30px;
    font-weight: 500;
    font-size: 30px;
    /* line-height: 47px; */
    color: var(--darkGreen);


}

header a{
    text-decoration:none; 
    color: var(--darkGreen);

}
header a:visited{
    text-decoration:none; 
    color: var(--darkGreen);

}

/* start project content */

section{
    padding: 0 var(--uniPadding) 0;
    margin-bottom: 120px;
}

.fullLength{
    padding: 48px calc(1/12 * 100%);
    background-color: #F7F7F7; 
}
.fullLength h2{
    text-align: center;
}

h1 {
    color:var(--darkGreen);
    font-family: "EB Garamond", serif;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 60px;
    letter-spacing: -0.25px;
    font-size: 57px;
    margin-bottom: 32px;
}

h2 {

    color:var(--darkGreen);
    font-family: "EB Garamond", serif;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;    
    font-size: 36px;
    margin-bottom: 15px;
}

h3 {
    font-family: "Spline Sans", sans-serif ;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-size: 14px;


}



p {
    font-family: "Spline Sans", sans-serif ;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    line-height: 24px;
    font-size: 16px;


}

.duoContent {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 15px;
    align-items: center;
}

.monoContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(3/12 * 100%);
    row-gap: 15px;
    align-items: center;
}


.duoContent img{
    width: 100%;
    height: auto;
    
}

.textImage {
    width: 230px !important;
    height: 500px !important;
    
}


section img {
    width: 100%;
    
}


footer div {
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 140px;
    height: auto;
    z-index: 12;
    padding-bottom: 36px;

}

footer div{
    padding-left: var(--uniPadding);
    
}
footer h2 {
    padding: 0 var(--uniPadding) 0;
    
}

footer a {
    transition: 600ms ease; 
    
    margin-right: 25px;
    padding: 12px 24px;
    display: inline-block;
    width: 300px;
    height: 400px;
    background: #F7F7F7;
    border-radius: 0px;
    text-decoration: none;

}

footer a:hover{
    scale: 105%;
    border-radius: 3px;
}

/* 5GHome */
.projectOne{
    background-image: url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1658370649/port2022/Home/5G1_zmtefu.jpg");
    background-position: center;
    background-size: cover; 
}
/* solar */
.projectTwo{
    background-image: url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1658370649/port2022/Home/Solar1_ayhdy5.jpg");
    background-position: center;
    background-size: cover; 
}

/* IVA */
/* .projectThree{
    background-image: url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1658370649/port2022/Home/IVA1_gl1u1x.jpg");
    background-position: center;
    background-size: cover; 
    color: black;
} */

/* MVA */
.projectFour{
    background-image: url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1658370649/port2022/Home/MVA1_czuqeq.jpg");
    background-position: center;
    background-size: cover; 
    
}
/* META1 */
.projectFive{
    background-image: url("https://res.cloudinary.com/dxchcqxvt/image/upload/v1726031653/meta_wkeish.jpg");
    background-position: center;
    background-size: cover; 
    
}





#scrollTop {
    height: 30px;
    width: 120px;
    cursor: pointer;
    position: fixed;
    margin: 3% 5%;
    right: 0;
    bottom: 0;
    z-index: 100;
    color: var(--darkGreen);
    border-radius: 3px;
    border: solid 2px var(--darkGreen);
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 3px;
    background: white;
}




/* start shadowbox css */

.thumbnail {
    margin-top: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.0);
}

.shadowbox {
   
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: none;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.5s;
    opacity: 0;
}

.shadowbox.open {
    opacity: 1;
   
}

.shadowbox-content {
   display: block;
     margin: 120px auto;
 max-width: 80%;
   max-height: 80%;        
    transition: transform 0.2s, opacity 0.3s;
    transform: scale(0.8);
    opacity: 0;


}

.shadowbox-content.open {
    transform: scale(1);
    opacity: 1;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
}




@media only screen and (max-width: 500px) {
    :root {
        --uniPadding:30px;
    }


    header{
        height: 85px;
        background-color: var(--lightGreen);
        padding: 0 var(--uniPadding) 0;
        padding-top: 30px;
        font-weight: 500;
        font-size: 30px;
        /* line-height: 47px; */
        color: var(--darkGreen);
    
    
    }

    section {
        margin-bottom: 60px;
    }
    section img {
        width: 100%;
   
    }
    .duoContent {
        display: grid;
        grid-template-columns: 100%;
        column-gap:0px;
        /* row-gap: 25px; */
        
    }
    .monoContent{
        display: grid;
        grid-template-columns: 100%;
        column-gap:0px;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* row-gap: 25px; */
    }
    .monoContent .duoContentR {
        margin: 0 auto;
    }
    
    
    .duoContent .duoContentL{
        grid-area: 2;
    }

    footer a{
        transform: translateX(0px);
        width: calc(300px*0.7);
        height: calc(400px*0.7);
    }
}